.weatherDescription {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
}

.weatherDataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherData {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 30px;   
}

.weatherProperty {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    font-weight: 600;
    text-decoration: underline;
}

.weatherValue {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}